@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Idroid';
    src: url('./fontes/idroid.otf');
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

header {
    color: white;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.623) 0.1em 0.1em 0.2em;
    background-image: linear-gradient(to bottom, rgba(61, 186, 61, 0.716), rgba(0, 0, 0, 0.711));
    box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.342);
}

header>h1 {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-weight: lighter;
    font-size: 3em;
}

header>p {
    text-align: center;
}

header>nav {
    text-align: left;
    padding: 10px;
}

nav>a {
    text-decoration: none;
    color: white;
    padding: 5px;
    margin-left: 15px;
}

nav>a:hover {
    padding: 5px;
    background-color: rgba(71, 124, 71, 0.438);
    border-radius: 5px;
}

body {
    background-color: rgb(230, 225, 162);
    margin: 0px;
}

main {
    background-color: white;
    width: 800px;
    margin: auto;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.466);
}

footer {
    margin: 10px 0px 0px 0px;
    padding: 0px;
}

footer>p {
    font-size: 0.8em;
    background-color: green;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0px;
}

p {
    text-align: justify;
    text-indent: 2em;
    margin: 15px;
    line-height: 1.5;
}

ul {
    list-style: none;
    columns: 2;
}

li::before {
    content: '*';
    margin-right: 4px;
}

div#video {
    background-color: darkgreen;
    padding: 5px;
    margin: -10px;
}

div#extra {
    background-color: rgb(184, 224, 184);
    margin: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.199);
}

p#paraextra {
    color: white;
    padding: 5px;
    background-color: rgb(40, 179, 40);
    text-indent: 0;
    margin: 0px;
    border-radius: 5px 5px 0px 0px;
    font-weight: bold;
}

.roda>strong {
    color: white;
}


h1 {
    font-family: Idroid;
    color: green;
    padding: 10px;
    font-size: 2.2em;
}

h2 {
    font-family: Idroid;
    color: green;
    background-image: linear-gradient(to right, rgba(0, 128, 0, 0.334), white);
    margin: 5px;
    text-indent: 0.5em;
}

strong {
    color: green;
}