@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #f1d8c9, #f2c3a7);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #9f806d81;
    width: 500px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #f39209;
    text-align: center;
    text-shadow: 1px 1px 5px #9d5f076f;
}

h2 {
    color: #125189;
    text-shadow: 1px 1px 2px #125189;
}

p {
    text-align: justify;
}