@charset "UTF-8";

body {
    background-color: rgb(239, 220, 245);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(68, 134, 112);
}

h1#principal {
    text-align: center;
    background-color: aliceblue;
}

h2 {
    color: rgb(71, 144, 119);
}

.basico {
    color: green;
    font-weight: bold;
}

.intermediario {
    color: rgb(181, 181, 0);
}

.avançado {
    color: rgb(169, 0, 0);
}

.destaque {
    background-color: rgba(176, 176, 0, 0.534);
}